/* =============
    Base
============= */

.large-images{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
}

input{
    border: none;
}

.show-at-large{
    display: none;
    
    @include lg{
        display: contents;
    }
}

.show-at-med{
    display: none;
    
    @include md{
        display: contents;
    }
}