/* =============
    Typography
============= */

body{
    font-family: 'Open Sans', sans-serif;
}

a.reg-button:link, a.reg-button:visited{
    text-decoration: none;
    color: var(--off-white);
    background-color: var(--orange);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding: 4px 12px;
    transition: 100ms;
 
}
a.reg-button:hover{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--orange);
    color: var(--orange);
}

h1, h2, h3, h4, h5, p{
    padding: 0px;
    margin: 0px;
}