/* =============
    Hero 2
============= */

#hero-2{
    padding-bottom: 16px;
    scroll-margin-top: 160px;

    @include md{
        padding-bottom: 24px;
    }
    @include lg{
        padding-bottom: 44px;
    }
    @include xxl{
        padding-bottom: 48px;
    }
    ul{
        @include md{
        display: grid;
        grid-template-columns: 50% auto;
        }

        @include lg{
            grid-template-columns: 60% auto;
        }

        @include xl{
            grid-template-areas: 
                            "tree man"
                            "tree oil";
        }
        #tree{
            background-image: url("../img/heroes/hero-2a.jpg");
            height: 355px;
            background-size: cover;
            background-position: center;

            @include md{

                height: 594px;
            }

            @include xl{
                grid-area: tree;
                height: 752px;
            }
        }
        #man{
            background-image: url("../img/heroes/hero-2b.jpg");
            height: 486px;
            background-size: cover;
            background-position: center;

            @include md{

                height: 594px;
            }

            @include xl{
                grid-area: man;
                height: 376px;
            }
        }
        #oil{
            display: none;
            background-image: url("../img/heroes/hero-2c.jpg");
            background-size: cover;
            background-position: top;

            @include xl{
                display: list-item;
                grid-area: oil;
                height: 376px;

            }
        }
    }
}