/* =============
    Hero 1
============= */

#hero-1{
    margin-bottom: 16px;
    >div{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        
        @include lg{
            grid-template-columns: 50% auto;

        }
        }
        aside{
            display: grid;
            background-color: red;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: 
                        ".. hero-content ...";
            }

        #c1{
            background-color: var(--dark-orange);
            @include lg{
                grid-template-columns: auto 480px 16px;
            }
        }
        #c2{
            background-color: var(--orange);
            @include lg{
                grid-template-columns: 16px 480px auto;
            }
        }
        div{
            grid-area: hero-content;
        }
    }
}