/* =============
    Whats new
============= */

#whats-new{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
                    ".... content ...."
                    "cards cards cards";

    >h1{
        grid-area: content;
    }
    ul{
        grid-area: cards;
    }
    li{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
                "image image image"
                ".... text ....";
        img{
            grid-area: image;
        }
        div{
            grid-area: text;
        }
    }
}
