/* =============
    Whats new
============= */

#whats-new{
    >div{
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". gallery .";
        }

        @include lg{
            grid-template-columns: auto 992px auto;
        }
        ul{
            display: grid;
            gap: 16px;

            @include md{
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas: 
                            "g1 g1 g2 g2"
                            "g3 g3 g4 g4"
                            ".. g5 g5 ..";
                grid-area: gallery;
            }

            @include lg{
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas: 
                            "g1 g1 g2 g2 g3 g3"
                            ".. g4 g4 g5 g5 ..";
                grid-area: gallery;
            }

            li{
                background-color: var(--off-white);
                box-shadow: 0px 1px 1px var(--grey);
                img{
                    width: 100%;
                }
                section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ".... text ....";
                padding: 16px 0px;
                    div{
                        grid-area: text;
                        .read-more{
                            background-color: var(--orange);
                            padding: 4px 12px;
                            text-decoration: none;
                        }
                    }
                }
            }
            #g1{
                @include md{
                    grid-area: g1;
                }
            }
            #g2{
                @include md{
                    grid-area: g2;
                }
            }
            #g3{
                @include md{
                    grid-area: g3;
                }
            }
            #g4{
                @include md{
                    grid-area: g4;
                }
            }
            #g5{
                @include md{
                    grid-area: g5;
                }
            }
        }
    }
}
