/* =============
    Footer
============= */

footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: var(--green);

    @include lg{
        grid-template-columns: auto 992px auto;
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
                        "locations news-letter"
                        "locations socials";
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "locations  news-letter socials";
        }

        #locations{
            @include md{
                grid-area: locations;
            }
        }
        #news-letter{
            @include md{
                grid-area: news-letter;
            }
        }
        #socials{
            div{
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: 16px;

                h1{
                    margin: 0px;
                }
                ul{
                    display: flex;
                    flex-direction: row;
                    gap: 24px;
                    margin: 0px;
                }
            }

            @include md{
                grid-area: socials;
            }
        }
    }
}
