/* =============
    Navigation
============= */

html{
    scroll-behavior: smooth;
}


.show-menu{
    display: block !important;
}

nav{
    display: none;

    @include lg{
        display: block;
    }
    ul{

        @include lg{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        li{
            text-align: right;

            @include lg{
                margin-left: 16px;
            }

            a:link, a:visited{
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                display: inline-block;
                color: var(--green);
                padding: 16px 0 16px;
                font-weight: 600;

                @include lg{
                    padding: 24px 36px;
                    border-radius: 6px;
                    transition: 0.25s;
                }

                &:hover, &:active{
                    @include lg{
                        color: var(--orange);
                        border-bottom: 2px solid;
                        border-radius: 0%;
                    }
                }
            }
        }
    }
}